[unit]
Description = Eclipse fog05 MEC DynDNS service
After=yaks.target


[Service]
Type=simple
PIDFile=/var/fos/dyndns.pid
ExecStart = python3 /etc/fos/utils/dyndns/src/service.py /etc/fos/utils/dyndns/src/service.json
KillMode=process
Restart=on-failure
User=mec
[Install]
WantedBy=multi-user.target
