[unit]
Description = Eclipse fog05 MEC DynDNS service
After=yaks.target


[Service]
Type=simple
PIDFile=/var/fos/platfrom.pid
ExecStart = /etc/fos/utils/platfrom
KillMode=process
Restart=on-failure
User=mec
[Install]
WantedBy=multi-user.target
