*~
.DS_Store
.idea
__pycache__
*.log
*.pyc

build
dist
fog05.egg-info

nohup.out
.merlin
*.install
dune-project
_build
.idea/
.vscode/
*/_build/*
.coverage
target/
Cargo.lock
results/
results-*/
*.pdf
.Rhistory