os: linux
language: cpp
services:
  - docker
before_install:
  - docker pull debian:10-slim
  - docker run -it -d --name build debian:10-slim bash
  - docker exec build apt update
  # install deps
  - docker exec build apt install git wget jq libev-dev libssl-dev python3 python3-dev python3-pip m4 pkg-config rsync unzip cmake -y
  - docker exec build pip3 install pyangbind
  # install opam
  - docker exec build wget -O opam https://github.com/ocaml/opam/releases/download/2.0.6/opam-2.0.6-x86_64-linux
  - docker exec build install ./opam /usr/local/bin/opam
  - docker exec build opam init --disable-sandboxing
  ## install other opam dependencies
  - docker exec build opam install dune.1.11.4 atdgen.2.0.0 conf-libev ocp-ocamlres -y
  # clone repo at specific ref
  - docker exec build git clone https://github.com/$TRAVIS_REPO_SLUG fog05
  - docker exec build bash -c "cd fog05 && git checkout $TRAVIS_BRANCH"
script:
  - docker exec build bash -c "eval \$(opam env) && cd fog05 && ./build.sh" 
