[unit]
Description = Eclipse fog05 LinuxBridge Plugin
After=fos_agent.target


[Service]
Type=simple
PIDFile=/var/fos/linuxbridge.pid
ExecStart = /etc/fos/plugins/linuxbridge/linuxbridge_plugin /etc/fos/plugins/linuxbridge/linuxbridge_plugin.json
KillMode=process
Restart=on-failure
User=fos
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fos_linuxbridge
[Install]
WantedBy=multi-user.target
