[unit]
Description = Eclipse fog05 KVM Plugin
After=network.target


[Service]
Type=simple
PIDFile=/var/fos/kvm.pid
ExecStart = /etc/fos/plugins/KVM/KVM_plugin /etc/fos/plugins/KVM/KVM_plugin.json
KillMode=process
Restart=on-failure
User=fos
[Install]
WantedBy=multi-user.target
