[unit]
Description = YAKS Daemon
After=network.target


[Service]
Type=simple
PIDFile=/var/fos/yaksd.pid
ExecStart = /etc/fos/zenohd -P "/etc/fos/yaks-plugin.cmxs" -vv
KillMode=process
Restart=on-failure
[Install]
WantedBy=multi-user.target
Alias=yaks.service