[unit]
Description = YAKS Daemon
After=network.target


[Service]
Type=simple
PIDFile=/var/yaks/yaksd.pid
ExecStart = /etc/fos/yaksd
KillMode=process
Restart=on-failure
[Install]
WantedBy=multi-user.target
Alias=yaks.service