[unit]
Description = Eclipse fog05 Linux Plugin
After=fos_agent.target


[Service]
Type=simple
PIDFile=/var/fos/os/os.pid
ExecStart = /etc/fos/plugins/linux/linux_plugin /etc/fos/plugins/linux/linux_plugin.json
KillMode=process
Restart=on-failure
User=fos
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fos_linux
[Install]
WantedBy=multi-user.target
Alias=linuxplugin.Service
