[unit]
Description = Eclipse fog05 MEC Orchestrator service
After=yaks.target


[Service]
Type=simple
PIDFile=/var/fos/meao.pid
ExecStart = /etc/fos/utils/meao
KillMode=process
Restart=on-failure
User=mec
[Install]
WantedBy=multi-user.target
