[unit]
Description = Eclipse fog05 Native Plugin
After=network.target


[Service]
Type=simple
PIDFile=/var/fos/native.pid
ExecStart = /etc/fos/plugins/native/native_plugin /etc/fos/plugins/native/native_plugin.json
KillMode=process
Restart=on-failure
User=fos
[Install]
WantedBy=multi-user.target
